__pycache__
*.pyc
*.pyo
.installed.cfg
bin
.idea/
develop-eggs
node_modules
.DS_Store
/.venv/
dist/
/local/
/docs/_build/
*.pyc


# dist
downloads
eggs
parts
*.egg-info
lib64
*.log
*.pot
static/CACHE/*
.anaconda
*.sass-cache
.coverage
